@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
    display: flex;
    height: 100vh; /**/
    font-family: 'Roboto', sans-serif;
}

#main{
    width: 100%; /*100% la larghezza del parent*/
}

#content{
    height: 100%; /*100% l'altezza del parent*/
}

#sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.sidebar-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.sidebar-icon p{
    margin: 0;
}
.sidebar-icon ion-icon{
    font-size: 2em;
}

#topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.logo{
    height: 50%;
}

.search-wrapper{
    display: flex;
    height: 50%;
}

.search-wrapper input{
    height: 2em;
}

.search-wrapper button{
    height: 2em;
}

#topbar-icon{
    display: flex;
    align-content: center;
}

#topbar-icon ion-icon{
    font-size: 2em;
    margin: 0 0.5em;
}