@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
    display: flex;
    height: 100vh; /**/
    font-family: 'Roboto', sans-serif;
}

#main{
    width: 100%; /*100% la larghezza del parent*/
}

#content{
    height: 100%; /*100% l'altezza del parent*/
}

/***********************************SIDEBAR**********************/
#sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.sidebar-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.sidebar-icon p{
    margin: 0;
}
.sidebar-icon ion-icon{
    font-size: 2em;
}

#menu-icon{
    padding-top: 1.1em;
}


/*************************TOPBAR**********************************/
#topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.logo{
    height: 50%;
}

.search-wrapper{
    display: flex;
    height: 50%;
    width: 30%;
}

.search-wrapper input{
    height: 2em;
    width: 100%;
}

.search-wrapper button{
    height: 2em;
}

#topbar-icons{
    display: flex;
    align-content: center;
}

#topbar-icons ion-icon{
    font-size: 2em;
    padding: 0 0.5em;
}

#search-btn{
    font-size: 1em;
    padding: 0 1em;
    display: flex;
    align-items: center;
}

#mic-icon ion-icon{
    font-size: 1.8em;
    margin: 0 0.3em;
}

/*****************************CONTENT*******************************/
#content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.thumbnail{
    display: flex;
    flex-direction: column;
}

.thumbnail-img{
    padding: 1.5em 0 0.5em 0;
    height: 15em;
}

.epicode-logo{
    height: 3em;
    padding-right: 0.9em;
}

.thumbnail-arguments{
    display: flex;
}


h4{ 
    margin: 0.2em;
    padding: 0;
} 

p{
    margin: 0 0.2em;
} 